@import "tailwindcss";



.rtl {
  direction: rtl;
}

/* مخفی کردن scrollbar در همه مرورگرها */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE و Edge */
  scrollbar-width: none;     /* Firefox */
}

